.add-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #09c;
  border: 1px solid #09c;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include phone {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }

  &:hover {
    background-color: #fff;
    color: #09c;
  }

  .material-icons {
    font-size: 33px;

    @include phone {
      font-size: 24px;
    }
  }
}
